@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: Montserrat, sans-serif;
  background: #FFFFFF;
  background: linear-gradient(93deg, rgb(204, 232, 255) 0%, rgba(255, 255, 255, 1) 48%, rgb(204, 232, 255) 100%);
  color: #23487e;
}

button {
  font-family: Montserrat, sans-serif;
}

p {
  color: #5f94e1;
}

body {
  margin: 0;
}
